CHBCIS201.module/Schemas/CHBCISFNDX/CHBCISFNDX0140101/CHBCISFNDX0140101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CHBCISFNDX0140101_InReq" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CHBCISFNDX0140101_InReq">
    <element name="root" type="ns:CHBCISFNDX0140101_InReq"/>
    <complexType name="CHBCISFNDX0140101_InReq">
        <sequence>
            <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="crdMemNo" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
