CISTAD201.module/Schemas/CISTADAHFF/CISTADAHFF0030701/CISTADAHFF0030701_OutReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHFF0030701" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHFF0030701">
    <element name="root">
        <complexType>
            <sequence>
                <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" name="crdMemNo" nillable="true" type="string"/>
                <element e:kor="다음검색KEY" e:length="8" e:padder="SpaceRight" name="nxtSrchKey" nillable="true" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
