CISTAD201.module/Schemas/CISTADAHFF/CISTADAHFF0030701/CISTADAHFF0030701_OutRes_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHFF0030701" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHFF0030701">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHFF0030701_OutRes"/>
            </sequence>
        </complexType>
    </element>
</schema>
