CISTAD201.module/Schemas/CISTADAHFA/CISTADAHFA0060101/CISTADAHFA0060101_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHFA0060101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHFA0060101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHFA0060101_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
