CISTAD201.module/Schemas/CISTADAHHB/CISTADAHHB0011001/CISTADAHHB0011001_OutReq_SRCH_GROUP_TYPE_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHHB0011001" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHHB0011001">
    <element name="root">
        <complexType>
            <sequence>
                <element e:kor="카드번호" e:length="16" e:padder="SpaceRight" name="crdNo" nillable="true" type="string"/>
                <element e:kor="작업구분값" e:length="2" e:padder="SpaceRight" name="wrkGbVal" nillable="true" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
