CISTAD201.module/Schemas/CISTADAHHB/CISTADAHHB0011001/CISTADAHHB0011001_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHHB0011001" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHHB0011001">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHHB0011001_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
