ARSCIS201.module/Schemas/ARSCISFNDX/ARSCISFNDX0060101/ARSCISFNDX0060101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/ARSCISFNDX0060101_InReq" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/ARSCISFNDX0060101_InReq">
    <element name="root" type="ns:ARSCISFNDX0060101_InReq"/>
    <complexType name="ARSCISFNDX0060101_InReq">
        <sequence>
            <element e:kor="본인주민등록번호" e:length="13" e:padder="SpaceRight" name="selfRrno" nillable="true" type="string"/>
            <element e:kor="회계년도" e:length="4" e:padder="SpaceRight" name="acncYr" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
