CHBCIS201.module/Schemas/CHBCISFNDX/CHBCISFNDX0130101/CHBCISFNDX0130101_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CHBCISFNDX0130101_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CHBCISFNDX0130101_InRes">
    <element name="root" type="ns:CHBCISFNDX0130101_InRes"/>
    <complexType name="CHBCISFNDX0130101_InRes">
        <sequence>
            <element e:kor="서비스정상여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="srvNrmlYn" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
