CISHPT201.module/Schemas/CISHPTMTPC/CISHPTMTPC9000201/CISHPTMTPC9000201_OutReq.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISHPTMTPC9000201_OutReq" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/CISHPTMTPC9000201_OutReq">
    <complexType name="HPTHeaderType">
        <sequence>
            <element e:kor="전체전문길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="totTgrmLen" nillable="true" type="integer"/>
            <element e:kor="헤더길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="hdrLen" nillable="true" type="integer"/>
            <element e:kor="전문형식코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmFrmCd" nillable="true" type="string"/>
            <element e:kor="시스템환경구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sysEnvGbcd" nillable="true" type="string"/>
            <element e:kor="IP주소" e:length="40" e:padder="SpaceRight" minOccurs="0" name="ipAdr" nillable="true" type="string"/>
            <element e:kor="GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="guid" nillable="true" type="string"/>
            <element e:kor="진행번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="prgrNo" nillable="true" type="integer"/>
            <element e:kor="최초GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="frstGuid" nillable="true" type="string"/>
            <element e:kor="전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="sendSysCd" nillable="true" type="string"/>
            <element e:kor="최초전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="frstSendSysCd" nillable="true" type="string"/>
            <element e:kor="시스템공통예비내용" e:length="21" e:padder="SpaceRight" minOccurs="0" name="sysCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="EIMS전문ID" e:length="17" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmId" nillable="true" type="string"/>
            <element e:kor="EIMS전문번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmVerNo" nillable="true" type="string"/>
            <element e:kor="프래임워크거래ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="frwkTrdId" nillable="true" type="string"/>
            <element e:kor="수신시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="rcvSysCd" nillable="true" type="string"/>
            <element e:kor="연계전문코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="tieTgrmCd" nillable="true" type="string"/>
            <element e:kor="연계서비스그룹코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="tieSrvGrpCd" nillable="true" type="string"/>
            <element e:kor="연계서비스명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="tieSrvNm" nillable="true" type="string"/>
            <element e:kor="화면번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="scrnNo" nillable="true" type="string"/>
            <element e:kor="요청응답구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqnRespGbcd" nillable="true" type="string"/>
            <element e:kor="동기처리구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="syncProcGbcd" nillable="true" type="string"/>
            <element e:kor="거래응답코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trdRespCd" nillable="true" type="string"/>
            <element e:kor="페이지번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageNo" nillable="true" type="integer"/>
            <element e:kor="페이지행건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageRowCnt" nillable="true" type="integer"/>
            <element e:kor="전체레코드건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="totRowCnt" nillable="true" type="integer"/>
            <element e:kor="다음페이지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="nxtPageYn" nillable="true" type="string"/>
            <element e:kor="요청일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="reqnDtm" nillable="true" type="string"/>
            <element e:kor="응답일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="respDtm" nillable="true" type="string"/>
            <element e:kor="점코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="storeCd" nillable="true" type="string"/>
            <element e:kor="사용자ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="userId" nillable="true" type="string"/>
            <element e:kor="거래공통영역예비내용" e:length="100" e:padder="SpaceRight" minOccurs="0" name="trdCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="메시지그룹명" e:length="0" e:padder="SpaceRight" minOccurs="0" name="msgGrpNm" nillable="true" type="ns:msgGrpNmType"/>
            <element e:kor="표준전문종료문자값" e:length="2" e:padder="SpaceRight" minOccurs="0" name="stdTgrmEndLettrVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="msgGrpNmType">
        <sequence>
            <element e:kor="메시지표시방법구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="msgShwMthdGbcd" nillable="true" type="string"/>
            <element e:kor="오류발생전문항목명" e:length="50" e:padder="SpaceRight" minOccurs="0" name="errOcrnTgrmClasNm" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="msgCd" nillable="true" type="string"/>
            <element e:kor="메시지내용" e:length="300" e:padder="SpaceRight" minOccurs="0" name="msgCntn" nillable="true" type="string"/>
            <element e:kor="메시지세부내용" e:length="1000" e:padder="SpaceRight" minOccurs="0" name="msgDtlCntn" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISHPTMTPC9000201_OutReq">
        <sequence>
            <element e:kor="전문번호" e:length="4" e:padder="SpaceRight" minOccurs="0" name="tgrmNo" nillable="true" type="string"/>
            <element e:kor="전문버전번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="tgrmVerNo" nillable="true" type="string"/>
            <element e:kor="소켓유지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="scktRetnYn" nillable="true" type="string"/>
            <element e:kor="승인요청일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="aprvlReqnDt" nillable="true" type="string"/>
            <element e:kor="승인요청시각" e:length="6" e:padder="SpaceRight" minOccurs="0" name="aprvlReqnTmstmp" nillable="true" type="string"/>
            <element e:kor="추적번호" e:length="14" e:padder="SpaceRight" minOccurs="0" name="trcNo" nillable="true" type="string"/>
            <element e:kor="참여사ID" e:length="4" e:padder="SpaceRight" minOccurs="0" name="ptcoId" nillable="true" type="string"/>
            <element e:kor="가맹점ID" e:length="5" e:padder="SpaceRight" minOccurs="0" name="frcsId" nillable="true" type="string"/>
            <element e:kor="대리점ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="agncId" nillable="true" type="string"/>
            <element e:kor="참여사채널ID" e:length="4" e:padder="SpaceRight" minOccurs="0" name="ptcoChId" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="respCd" nillable="true" type="string"/>
            <element e:kor="정산기준일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="stlBsicDt" nillable="true" type="string"/>
            <element e:kor="주문번호" e:length="30" e:padder="SpaceRight" minOccurs="0" name="ordNo" nillable="true" type="string"/>
            <element e:kor="매출POS번호" e:length="6" e:padder="SpaceRight" minOccurs="0" name="salePosNo" nillable="true" type="string"/>
            <element e:kor="고객거래일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="custTrdDt" nillable="true" type="string"/>
            <element e:kor="거래시간" e:length="6" e:padder="SpaceRight" minOccurs="0" name="trdTime" nillable="true" type="string"/>
            <element e:kor="매체코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="mdaCd" nillable="true" type="string"/>
            <element e:kor="카드입력구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="crdInsrGbcd" nillable="true" type="string"/>
            <element e:kor="고객카드구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="custCrdGbcd" nillable="true" type="string"/>
            <element e:kor="통합고객카드번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="mcustCrdNo" nillable="true" type="string"/>
            <element e:kor="총거래금액" e:length="10" e:padder="ZeroLeft" minOccurs="0" name="totTrdAmt" nillable="true" type="long"/>
            <element e:kor="원승인번호" e:length="12" e:padder="SpaceRight" minOccurs="0" name="orgAprvlNo" nillable="true" type="string"/>
            <element e:kor="원승인일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="orgAprvlDt" nillable="true" type="string"/>
            <element e:kor="원승인발생포인트" e:length="9" e:padder="ZeroLeft" minOccurs="0" name="orgAprvlOcrnPnt" nillable="true" type="long"/>
            <element e:kor="추가적립포인트" e:length="9" e:padder="ZeroLeft" minOccurs="0" name="addAcmPnt" nillable="true" type="long"/>
            <element e:kor="마이너스포인트회수완료여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="minusPntWtdwCmptYn" nillable="true" type="string"/>
            <element e:kor="통합고객번호" e:length="10" e:padder="SpaceRight" minOccurs="0" name="untdCustNo" nillable="true" type="string"/>
            <element e:kor="승인일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="aprvlDt" nillable="true" type="string"/>
            <element e:kor="승인시각" e:length="6" e:padder="SpaceRight" minOccurs="0" name="aprvlTmstmp" nillable="true" type="string"/>
            <element e:kor="승인번호" e:length="12" e:padder="SpaceRight" minOccurs="0" name="aprvlNo" nillable="true" type="string"/>
            <element e:kor="가용포인트" e:length="9" e:padder="ZeroLeft" minOccurs="0" name="avalPnt" nillable="true" type="long"/>
            <element e:kor="지류사용여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="papeUseYn" nillable="true" type="string"/>
            <element e:kor="공백값" e:length="132" e:padder="SpaceRight" minOccurs="0" name="nullVal" nillable="true" type="string"/>
            <element e:kor="메시지" e:length="40" e:padder="SpaceRight" minOccurs="0" name="msg" nillable="true" type="string"/>
            <element e:kor="메시지2" e:length="40" e:padder="SpaceRight" minOccurs="0" name="msg2" nillable="true" type="string"/>
            <element e:kor="메시지3" e:length="40" e:padder="SpaceRight" minOccurs="0" name="msg3" nillable="true" type="string"/>
            <element e:kor="종료구분값" e:length="1" e:padder="SpaceRight" minOccurs="0" name="endGbVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="rootType">
        <sequence>
            <element e:kor="공통부" name="header" type="ns:HPTHeaderType"/>
            <element e:kor="데이터부" name="data" type="ns:CISHPTMTPC9000201_OutReq"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:rootType"/>
</schema>
