HPGCIS201.module/Schemas/HPGCISFNDX/HPGCISFNDX0170101/HPGCISFNDX0170101_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/HPGCISFNDX0170101_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/HPGCISFNDX0170101_InRes">
    <element name="root" type="ns:HPGCISFNDX0170101_InRes"/>
    <complexType name="HPGCISFNDX0170101_InRes">
        <sequence>
            <element e:kor="서비스정상여부" e:length="1" e:padder="SpaceRight" name="srvNrmlYn" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
