CHBCIS201.module/Schemas/CHBCISPMCO/CHBCISPMCO0090201/CHBCISPMCO0090201_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CHBCISPMCO0090201_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CHBCISPMCO0090201_InRes">
    <element name="root" type="ns:CHBCISPMCO0090201_InRes"/>
    <complexType name="CHBCISPMCO0090201_InRes">
        <sequence>
            <element e:kor="미도래금액" e:length="19" e:padder="ZeroLeft" name="nadvAmt" nillable="true" type="long"/>
        </sequence>
    </complexType>
</schema>
