CHBCIS201.module/Schemas/CHBCISPMCO/CHBCISPMCO0090201/CHBCISPMCO0090201_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CHBCISPMCO0090201_InReq" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CHBCISPMCO0090201_InReq">
    <element name="root" type="ns:CHBCISPMCO0090201_InReq"/>
    <complexType name="CHBCISPMCO0090201_InReq">
        <sequence>
            <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" name="crdMemNo" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
