KIKCIS201.module/Schemas/KIKCISPMCK/KIKCISPMCK0130201/KIKCISPMCK0130201_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/KIKCISPMCK0130201_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/KIKCISPMCK0130201_InRes">
    <element name="root" type="ns:KIKCISPMCK0130201_InRes"/>
    <complexType name="KIKCISPMCK0130201_InRes">
        <sequence>
            <element e:kor="처리결과코드" e:length="2" e:padder="SpaceRight" name="procRstCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
