HPGCIS201.module/Schemas/HPGCISFNDX/HPGCISFNDX0180101/HPGCISFNDX0180101_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/HPGCISFNDX0180101_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/HPGCISFNDX0180101_InRes">
    <element name="root" type="ns:HPGCISFNDX0180101_InRes"/>
    <complexType name="HPGCISFNDX0180101_InRes">
        <sequence>
            <element e:kor="처리결과코드" e:length="2" e:padder="SpaceRight" name="procRstCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
