CISTAD01.module/Schemas/provResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1669277389440" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1669277389440">
  <complexType name="provElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="reqIfId" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="resIfId" type="string"/>
    </sequence>
  </complexType>
  <element name="provElement" type="tns:provElementType"/>
</schema>
