HPGCIS201.module/Schemas/HPGCISOCCT/HPGCISOCCTJC01801/HPGCISOCCTJC01801_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/HPGCISOCCTJC01801_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/HPGCISOCCTJC01801_InRes">
    <element name="root" type="ns:HPGCISOCCTJC01801_InRes"/>
    <complexType name="HPGCISOCCTJC01801_InRes">
        <sequence>
            <element e:kor="신카드번호" e:length="16" e:padder="SpaceRight" minOccurs="0" name="newCrdNo" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
