ARSCIS201.module/Schemas/ARSCISMTSY/ARSCISMTSY0016001/ARSCISMTSY0016001_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/ARSCISMTSY0016001_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/ARSCISMTSY0016001_InRes">
    <element name="root" type="ns:ARSCISMTSY0016001_InRes"/>
    <complexType name="ARSCISMTSY0016001_InRes">
        <sequence>
            <element e:kor="순매출금액" e:length="22" e:padder="ZeroLeft" name="nsaleAmt" nillable="true" type="long"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" name="respCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
