CHBCIS201.module/Schemas/CHBCISFNDX/CHBCISFNDX0120101/CHBCISFNDX0120101_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CHBCISFNDX0120101_InRes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CHBCISFNDX0120101_InRes">
    <element name="root" type="ns:CHBCISFNDX0120101_InRes"/>
    <complexType name="CHBCISFNDX0120101_InRes">
        <sequence>
            <element e:kor="총미도래잔액" e:length="18" e:padder="ZeroLeft" name="totNadvBlnc" nillable="true" type="long"/>
        </sequence>
    </complexType>
</schema>
