CISTAD201.module/Schemas/CISTADAHHE/CISTADAHHE0020201/CISTADAHHE0020201_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHHE0020201" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHHE0020201">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHHE0020201_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
