CISTAD201.module/Schemas/CISTADMTSY/CISTADMTSY0006001/CISTADMTSY0006001_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADMTSY0006001" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADMTSY0006001">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADMTSY0006001_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
