CISTAD201.module/Schemas/CISTADAHHE/CISTADAHHE0010910/CISTADAHHE0010910_OutRes_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHHE0010910" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHHE0010910">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHHE0010910_OutRes"/>
            </sequence>
        </complexType>
    </element>
</schema>
