ARSCIS201.module/Schemas/ARSCISFNDX/ARSCISFNDX0050101/ARSCISFNDX0050101_InRes_BILLPOST_LIST_TYPE_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/ARSCISFNDX0050101_InRes_BILLPOST_LIST_TYPE" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/ARSCISFNDX0050101_InRes_BILLPOST_LIST_TYPE">
    <element name="root" type="ns:BILLPOST_LIST_TYPE"/>
    <complexType name="BILLPOST_LIST_TYPE">
        <sequence>
            <element e:kor="전송일자" e:length="8" e:padder="SpaceRight" name="sendDt" nillable="true" type="string"/>
            <element e:kor="전송시간" e:length="6" e:padder="SpaceRight" name="sendTime" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" name="respCd" nillable="true" type="string"/>
            <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" name="crdMemNo" nillable="true" type="string"/>
            <element e:kor="카드번호" e:length="16" e:padder="SpaceRight" name="crdNo" nillable="true" type="string"/>
            <element e:kor="고객명" e:length="40" e:padder="SpaceRight" name="custNm" nillable="true" type="string"/>
            <element e:kor="청구일자" e:length="8" e:padder="SpaceRight" name="chrDt" nillable="true" type="string"/>
            <element e:kor="매출시작일자" e:length="8" e:padder="SpaceRight" name="saleStrtDt" nillable="true" type="string"/>
            <element e:kor="매출종료일자" e:length="8" e:padder="SpaceRight" name="saleEndDt" nillable="true" type="string"/>
            <element e:kor="결제방법코드" e:length="1" e:padder="SpaceRight" name="stlmMthdCd" nillable="true" type="string"/>
            <element e:kor="결제은행코드" e:length="10" e:padder="SpaceRight" name="stlmBankCd" nillable="true" type="string"/>
            <element e:kor="결제계좌번호" e:length="20" e:padder="SpaceRight" name="stlmAcno" nillable="true" type="string"/>
            <element e:kor="최종입금일자" e:length="8" e:padder="SpaceRight" name="lastIamtDt" nillable="true" type="string"/>
            <element e:kor="실결제일자" e:length="8" e:padder="SpaceRight" name="realStlmDt" nillable="true" type="string"/>
            <element e:kor="이자기산일자" e:length="8" e:padder="SpaceRight" name="intrRcknDt" nillable="true" type="string"/>
            <element e:kor="적용이자율" e:length="9" e:padder="ZeroLeft" name="aplyIntrRt" nillable="true" type="long"/>
            <element e:kor="통합한도금액" e:length="19" e:padder="ZeroLeft" name="untdBndsAmt" nillable="true" type="long"/>
            <element e:kor="마일리지" e:length="20" e:padder="ZeroLeft" name="mlg" nillable="true" type="decimal"/>
            <element e:kor="마일리지산정기준일자" e:length="8" e:padder="SpaceRight" name="mlgEstmBsicDt" nillable="true" type="string"/>
            <element e:kor="결제일" e:length="2" e:padder="SpaceRight" name="stlmDay" nillable="true" type="string"/>
            <element e:kor="연체원금금액" e:length="19" e:padder="ZeroLeft" name="oduePrncAmt" nillable="true" type="long"/>
            <element e:kor="연체수수료금액" e:length="19" e:padder="ZeroLeft" name="odueCmisAmt" nillable="true" type="long"/>
            <element e:kor="연체이자금액" e:length="1" e:padder="ZeroLeft" name="odueIntrAmt" nillable="true" type="long"/>
            <element e:kor="연체총합계금액" e:length="19" e:padder="ZeroLeft" name="odueTotSumAmt" nillable="true" type="long"/>
            <element e:kor="당월원금금액" e:length="19" e:padder="ZeroLeft" name="thmnPrncAmt" nillable="true" type="long"/>
            <element e:kor="당월수수료금액" e:length="19" e:padder="ZeroLeft" name="thmnCmisAmt" nillable="true" type="long"/>
            <element e:kor="당월청구합계금액" e:length="19" e:padder="ZeroLeft" name="thmnReqSumAmt" nillable="true" type="long"/>
            <element e:kor="초과납부금액" e:length="19" e:padder="ZeroLeft" name="overPymAmt" nillable="true" type="long"/>
            <element e:kor="납부합계금액" e:length="19" e:padder="ZeroLeft" name="pymSumAmt" nillable="true" type="long"/>
            <element e:kor="총건수" e:length="1" e:padder="ZeroLeft" name="totCnt" nillable="true" type="long"/>
            <element e:kor="매출일자" e:length="8" e:padder="SpaceRight" name="saleDt" nillable="true" type="string"/>
            <element e:kor="상품명" e:length="200" e:padder="SpaceRight" name="itemNm" nillable="true" type="string"/>
            <element e:kor="관계구분코드명" e:length="100" e:padder="SpaceRight" name="relGbcdNm" nillable="true" type="string"/>
            <element e:kor="가맹점명" e:length="100" e:padder="SpaceRight" name="frcsNm" nillable="true" type="string"/>
            <element e:kor="카드할부개월수" e:length="4" e:padder="ZeroLeft" name="crdInsmMths" nillable="true" type="long"/>
            <element e:kor="매출금액" e:length="1" e:padder="ZeroLeft" name="saleAmt" nillable="true" type="long"/>
            <element e:kor="전월미결제금액" e:length="19" e:padder="ZeroLeft" name="lmmNpymAmt" nillable="true" type="long"/>
            <element e:kor="청구회차" e:length="8" e:padder="ZeroLeft" name="reqTmnm" nillable="true" type="long"/>
            <element e:kor="당월청구원금금액" e:length="19" e:padder="ZeroLeft" name="thmnReqPrncAmt" nillable="true" type="long"/>
            <element e:kor="당월청구수수료금액" e:length="19" e:padder="ZeroLeft" name="thmnReqCmisAmt" nillable="true" type="long"/>
            <element e:kor="잔여개월수" e:length="8" e:padder="ZeroLeft" name="rmndMths" nillable="true" type="long"/>
            <element e:kor="미도래금액" e:length="19" e:padder="ZeroLeft" name="nadvAmt" nillable="true" type="long"/>
            <element e:kor="결제일자" e:length="8" e:padder="SpaceRight" name="stlmDt" nillable="true" type="string"/>
            <element e:kor="사용자명" e:length="20" e:padder="SpaceRight" name="userNm" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo" nillable="true" type="string"/>
            <element e:kor="즉시입금금액" e:length="19" e:padder="ZeroLeft" name="imdtIamtAmt" nillable="true" type="long"/>
            <element e:kor="적립예상마일리지" e:length="20" e:padder="ZeroLeft" name="acmExpMlg" nillable="true" type="decimal"/>
            <element e:kor="주소1" e:length="200" e:padder="SpaceRight" name="adr1" nillable="true" type="string"/>
            <element e:kor="주소2" e:length="200" e:padder="SpaceRight" name="adr2" nillable="true" type="string"/>
            <element e:kor="휴대전화번호" e:length="20" e:padder="SpaceRight" name="mobiTelno" nillable="true" type="string"/>
            <element e:kor="이메일주소" e:length="50" e:padder="SpaceRight" name="emailAdr" nillable="true" type="string"/>
            <element e:kor="은행명1" e:length="20" e:padder="SpaceRight" name="bankNm1" nillable="true" type="string"/>
            <element e:kor="가상계좌번호1" e:length="20" e:padder="SpaceRight" name="virtAcno1" nillable="true" type="string"/>
            <element e:kor="은행명2" e:length="20" e:padder="SpaceRight" name="bankNm2" nillable="true" type="string"/>
            <element e:kor="가상계좌번호2" e:length="20" e:padder="SpaceRight" name="virtAcno2" nillable="true" type="string"/>
            <element e:kor="은행명3" e:length="20" e:padder="SpaceRight" name="bankNm3" nillable="true" type="string"/>
            <element e:kor="가상계좌번호3" e:length="20" e:padder="SpaceRight" name="virtAcno3" nillable="true" type="string"/>
            <element e:kor="은행명4" e:length="20" e:padder="SpaceRight" name="bankNm4" nillable="true" type="string"/>
            <element e:kor="가상계좌번호4" e:length="20" e:padder="SpaceRight" name="virtAcno4" nillable="true" type="string"/>
            <element e:kor="은행명5" e:length="20" e:padder="SpaceRight" name="bankNm5" nillable="true" type="string"/>
            <element e:kor="가상계좌번호5" e:length="20" e:padder="SpaceRight" name="virtAcno5" nillable="true" type="string"/>
            <element e:kor="은행명6" e:length="20" e:padder="SpaceRight" name="bankNm6" nillable="true" type="string"/>
            <element e:kor="가상계좌번호6" e:length="20" e:padder="SpaceRight" name="virtAcno6" nillable="true" type="string"/>
            <element e:kor="본인가족회원순번1" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq1" nillable="true" type="string"/>
            <element e:kor="사용자명1" e:length="20" e:padder="SpaceRight" name="userNm1" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호1" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo1" nillable="true" type="string"/>
            <element e:kor="청구대상금액1" e:length="19" e:padder="ZeroLeft" name="reqTgamt1" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번2" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq2" nillable="true" type="string"/>
            <element e:kor="사용자명2" e:length="20" e:padder="SpaceRight" name="userNm2" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호2" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo2" nillable="true" type="string"/>
            <element e:kor="청구대상금액2" e:length="19" e:padder="ZeroLeft" name="reqTgamt2" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번3" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq3" nillable="true" type="string"/>
            <element e:kor="사용자명3" e:length="20" e:padder="SpaceRight" name="userNm3" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호3" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo3" nillable="true" type="string"/>
            <element e:kor="청구대상금액3" e:length="19" e:padder="ZeroLeft" name="reqTgamt3" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번4" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq4" nillable="true" type="string"/>
            <element e:kor="사용자명4" e:length="20" e:padder="SpaceRight" name="userNm4" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호4" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo4" nillable="true" type="string"/>
            <element e:kor="청구대상금액4" e:length="19" e:padder="ZeroLeft" name="reqTgamt4" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번5" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq5" nillable="true" type="string"/>
            <element e:kor="사용자명5" e:length="20" e:padder="SpaceRight" name="userNm5" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호5" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo5" nillable="true" type="string"/>
            <element e:kor="청구대상금액5" e:length="19" e:padder="ZeroLeft" name="reqTgamt5" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번6" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq6" nillable="true" type="string"/>
            <element e:kor="사용자명6" e:length="20" e:padder="SpaceRight" name="userNm6" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호6" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo6" nillable="true" type="string"/>
            <element e:kor="청구대상금액6" e:length="19" e:padder="ZeroLeft" name="reqTgamt6" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번7" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq7" nillable="true" type="string"/>
            <element e:kor="사용자명7" e:length="20" e:padder="SpaceRight" name="userNm7" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호7" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo7" nillable="true" type="string"/>
            <element e:kor="청구대상금액7" e:length="19" e:padder="ZeroLeft" name="reqTgamt7" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번8" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq8" nillable="true" type="string"/>
            <element e:kor="사용자명8" e:length="20" e:padder="SpaceRight" name="userNm8" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호8" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo8" nillable="true" type="string"/>
            <element e:kor="청구대상금액8" e:length="19" e:padder="ZeroLeft" name="reqTgamt8" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번9" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq9" nillable="true" type="string"/>
            <element e:kor="사용자명9" e:length="20" e:padder="SpaceRight" name="userNm9" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호9" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo9" nillable="true" type="string"/>
            <element e:kor="청구대상금액9" e:length="19" e:padder="ZeroLeft" name="reqTgamt9" nillable="true" type="long"/>
            <element e:kor="본인가족회원순번10" e:length="2" e:padder="SpaceRight" name="selfFamlMemSeq10" nillable="true" type="string"/>
            <element e:kor="사용자명10" e:length="20" e:padder="SpaceRight" name="userNm10" nillable="true" type="string"/>
            <element e:kor="사용카드뒤4자리번호10" e:length="4" e:padder="SpaceRight" name="useCrdBck4PtnNo10" nillable="true" type="string"/>
            <element e:kor="청구대상금액10" e:length="19" e:padder="ZeroLeft" name="reqTgamt10" nillable="true" type="long"/>
        </sequence>
    </complexType>
</schema>
