ARSCIS201.module/Schemas/ARSCISFNDX/ARSCISFNDX0100101/ARSCISFNDX0100101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/ARSCISFNDX0100101_InReq" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/ARSCISFNDX0100101_InReq">
    <element name="root" type="ns:ARSCISFNDX0100101_InReq"/>
    <complexType name="ARSCISFNDX0100101_InReq">
        <sequence>
            <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" name="crdMemNo" nillable="true" type="string"/>
        </sequence>
    </complexType>
</schema>
