CISTAD201.module/Schemas/CISTADAHFZ/CISTADAHFZ0011101/CISTADAHFZ0011101_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADAHFZ0011101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADAHFZ0011101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADAHFZ0011101_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
