CISTAD201.module/Schemas/CISTADCDZD/CISTADCDZD0010101/CISTADCDZD0010101_OutReq_rootType_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISTADCDZD0010101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISTADCDZD0010101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="header" type="ns:TADHeaderType"/>
                <element name="data" type="ns:CISTADCDZD0010101_OutReq"/>
            </sequence>
        </complexType>
    </element>
</schema>
